
/*-----------
    Reset
------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------
    Typo
------------*/
body{
    font-family: 'Lato', sans-serif;
}
.text-color-gray{
    color: #b6b9bb;
}

/*-----------
    Body
------------*/
body{
    height: 100vh;
    background: linear-gradient( to bottom, #009688 0%, #009688 15%, #dadbd3 15%, #dadbd3 100%);
    display: flex;
    overflow: hidden;
}

/*------------
    Common
------------*/
/* User Header - Message Header */
.user-header{
    width: 100%;
    height: 80px;
    background-color: #eaeaea;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-name{
    padding-left: 10px;
    margin-bottom: 5px;
}

/* User avatar */
.user-picture{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

/*------------------
   Main Container
------------------*/
.main-container{
    height: 95%;
    width: 90%;
    margin: auto;
    display: flex;
    overflow-y: hidden;
}

/*-------------------
   Col-sx | Contact 
--------------------*/
.col-sx{
    width: 30%;
    height: 100%;
    background-color: #fff;
}

/* User Header */
.user-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user-header-left{
    display: flex;
    align-items: center;
}
.user-header-right i{
    margin: 10px;
    font-size: 20px;
    color: #b1b1b1;
}

/* User notifications */
.user-notifications{
    width: 100%;
    height: 80px;
    background-color: #8edafc;
    padding: 10px;
    display: flex;
    align-items: center;
}
.bell-box{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
    display: flex;
}
.fa-bell-slash{
    margin: auto;
    color: #8edafc;
    font-size: 25px;
}
.notifications{
    margin-left: 10px;
}


/* User search input */
.search-input form{
    display: flex;
    padding: 10px;
    background-color: #fafafa;
}
.search-input input{
    width: 80%;
    padding: 5px 10px;
    margin: auto;
}
.search-input input, .search-lens{
    height: 40px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
}
.search-lens{
    width: 20%;
    border-right: none;
    color: #b6b9bb;
    font-size: 18px;
}

/* Contacts */
.contact-list ul{
    list-style: none;
    height: 100%;
    overflow-y: auto;
}
.contact{
    width: 100%;
    height: 80px;
    padding: 10px 20px;
    border-bottom: 1px solid #f5f5f5;
    display: flex;
}
.contact-info{
    display: flex;
    flex-direction: column;
}
.message-info{
    padding-left: 10px;
}
.time{
    text-align: right;
    flex-grow: 1;
}

.contact:hover{
    background-color: #F4F5F5;
}

.contact-list{
    height: calc(100% - 220px);
    overflow: hidden;
}

/*-------------------
   Col-dx | Messages 
--------------------*/
.col-dx{
    width: 70%;
    height: 100%;
    background-image: url("../img/mine.jpg");
    border-left: 1px solid #d6d6d6;
}

/* Chat Area */
.chat-container{
    width: 100%;
    height: calc(100% - 160px);
    padding: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    overflow-y: auto;
}
.message{
    max-width: 45%;
    min-width: 25%;
    min-height: 55px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    word-break: break-word;
}
.sent{
    align-self: flex-end;
    background-color: #d5f9ba;
} 
.received{
    background-color: #fff;
    align-self: flex-start;
}
.message-time{
    align-self: flex-end;
    font-size: 14px;
}

/* Footer chat */
.emoticons, .microphone{
    width: 10%;
    text-align: center;
    font-size: 25px;
    color: #6b7376;
}

.input-message{
    width: 80%;
}

#sendmessage{
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
}
